<div class="weather-item">
    <div class="foreCastItem clearfix col-md-12">
        <div class="leftFloat cloudImage col-md-2"><img class="forecastImg" src="../../../../images/weather_icons/icons/{{weather.weather[0].main}}.png"></div>
        <div class="leftFloat foreTemp col-md-3"><span>{{ weather.main.temp }} <sup>o</sup>C</span></div>
        <div class="leftFloat foreWind col-md-2"><span >{{ weather.wind.speed }} m/sec</span></div>
        <div class="leftFloat forePressure col-md-2"><span>{{ weather.main.pressure }}</span></div>
        <div class="leftFloat foreDateTime col-md-3"><span>{{ weather.dt_txt}}</span></div>
      </div>
  </div>
